.container {


}

.card-title {
text-align: center;
 background-color: #cccccc;
}



body{
    background-image:url('image/photo-of-people-dancing-wearing-traditional-wear-3337612.jpg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-title {
  text-align: center;
}

h2 {
  color: blue;
}

.result {
  color: blue;
}
h4 {
  color: blue;
}

.copyright {
  font-size: 20pt;
  text-align: right;
  padding-bottom: 20px;
  color: grey;
  margin-top: 20px;
  text-align: right;
}

@media screen and (min-width: 480px) {
    body {
      background: url(https://www.pexels.com/photo/photo-of-people-dancing-wearing-traditional-wear-3337612/);
    }
}
@media screen and (min-width: 768px) {
  body {
    background: url(https://www.pexels.com/photo/photo-of-people-dancing-wearing-traditional-wear-3337612/);
  }
}
