.container {
  background-color: burlywood;
}




body {
  background-image: url(https://github.com/robajillo/akan-name/blob/master/image/ghana.jpg);
}
.result {
  color: blue;
}
h4 {
  color: blue;
}

.copyright {
  font-size: 20pt;
  text-align: right;
  padding-bottom: 20px;
  color: grey;
  margin-top: 20px;
  text-align: right;
}
