.container {


}

.card-title {
text-align: center;
 background-color: #cccccc;
}

.page-holder {
    min-height: 100vh;
  }
  .bg-cover {
    background-size: cover !important;
  }

.card-title {
  text-align: center;
}

h2 {
  color: blue;
}

.result {
  color: blue;
}
h4 {
  color: blue;
}

.female {
  height: 152px
  width: 290px
}

.copyright {
  font-size: 20pt;
  text-align: right;
  padding-bottom: 20px;
  color: grey;
  margin-top: 20px;
  text-align: right;
}

.bottom {
   font-size: 20px;
}
#socialmedia {
    text-align: center;
  }

@media screen and (min-width: 480px) {

    }
}
@media screen and (min-width: 768px) {

  }
}
